@import url(globalVars.css);

.car-catalogue .heading {
}

.car-listings {
   /* outline: 2px solid red; */

   display: flex;
   justify-content: start;
   align-items: center;
   flex-wrap: wrap; 
   gap: 1.8rem;

   margin-left: 2rem;
   margin-right: 2rem;
}

/* =========================================== */
/* =============== CAR CARD ================== */
/* =========================================== */
.car-listings .car-card {
   flex: 1 1 20rem;

   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 1rem;

   background-color: white;
   border-radius: 1rem;
   box-shadow: 0px 0px 8px darkgray;
}

.car-listings .car-card .card-header {
   display: flex;
   justify-content: space-between;

   width: 100%;
   margin-bottom: var(--margin-s);
}

.car-listings .car-card .card-header .rating-container {
   display: flex;
   justify-content: start;
   align-items: center;
}

.car-listings .car-card .card-header >img {
   height: 2rem;
   object-fit: contain;
}

.car-listings .car-card .image-container {
   width: 100%;
   height: 20rem;

   overflow: hidden;
}

.car-listings .car-card .image-container >img {
   width: 100%;
   object-fit: contain;
}

.car-listings .car-card .car-data {
   display: flex;
   justify-content: space-between;
   align-items: end;
   width: 100%;

   margin-bottom: var(--margin-s);
}

.car-listings .car-card .car-data .data-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.car-listings .car-card .car-data .car-make {
   color: gray;
   margin-top: var(--margin-s);
}

.car-listings .car-card .car-data .car-model {
   color: black;
   font-size: x-large;
   /* margin-top: var(--margin-xxs);
   margin-bottom: var(--margin-xs); */
}

.car-listings .car-card .separator {
   width: 100%;
   height: 1px;
   background-color: gray;
}

.car-listings .car-card .car-stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   margin-top: var(--margin-s);
}

.car-listings .car-card div {
   display: flex;
   justify-content: center;
   align-items: center;
}

.car-listings .car-card .car-stats img {
   /* background-color: ; */
   /* color: black; */
}

/* ---- DEBUG ---- */
* {
   /* outline: 1px dotted rgb(205, 71, 71); */
}