@import url(globalVars.css);
@import url(header.css);

html,
body {
   background-color: var(--background-50);
}

.car-checkout-main {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   gap: 2rem;
   margin-top: 2rem;
   margin-bottom: 2rem;
}

.car-catalogue {
   width: 100%;
   height: 10rem;
}

.width-resize-container {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   width: 90%;
}

@media screen and (min-width: 1024px) {
   .width-resize-container {
      max-width: 75rem;
   }
}

/* =============================================== */
/* ================ CAR FILTERS ================== */
/* =============================================== */
.car-filters-container {
   border-radius: 1rem;
   padding: 1rem;
   box-shadow: 0px 0px 0.25rem gray;
   background-color: white;

   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: start;
   gap: 1.2rem;
}

@media screen and (min-width: 1024px) {
   .car-filters-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   }
}

.car-filters-container .all-dropdowns {
   display: flex;
   justify-content: start;
   gap: 1rem;
}

.dropdown-container {
   position: relative;
   display: inline-block;
}

.dropdown-btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;

   background-color: var(--secondary-600);
   color: var(--text-50);

   border-radius: 4rem;
   border: none;
   padding: 0.7rem 2rem;

   font-size: large;
   font-weight: bold;
   transition: background-color 0.1s;
}

.dropdown-content {
   display: block;
   position: absolute;
   background-color: rgb(255, 255, 255);
   min-width: 12rem;
   outline: 2px solid lightgray;
   border-radius: 1rem;
   box-shadow: 0px 1rem 2rem 0px rgba(0, 0, 0, 0.2);
   z-index: 1;

   transform: scaleY(0); 
   transform-origin: top;
   transition: transform 0.2s ease-in-out;
}

.dropdown-container:hover .dropdown-content {
   display: block;
   transform: scaleY(1);
}

.dropdown-container:hover .dropdown-btn >span {
   transform: scale(-1);
}

.dropdown-btn >span {
   transition: transform 0.4s ease-in-out;
}

.dropdown-content .dropdown-option {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
   accent-color: var(--primary-300);
}

.dropdown-content .dropdown-option:hover {
   background-color: #e3e3e3;
}

.dropdown-container:hover .dropdown-btn {
   background-color: var(--primary-400);
}
/* ============================================== */
/* ================ CAR SEARCH ================== */
/* ============================================== */
.car-search {
   display: flex;
   justify-content: start;
   /* align-items: center; */
   gap: 1rem;

   font-size: medium;
   border-radius: 2rem;
   padding: 0.7rem 1rem;
   background-color: rgb(218, 218, 218);
}

.car-search >img {
   /* outline: 1px solid red; */
   width: 1.5rem;
   height: 1.5rem;
   object-fit: contain;
}

.car-search >input[type="text"] {
   border: none;
   background: none;
   min-width: 12rem;
   font-size: 1rem;
}

.car-search >input[type="text"]:focus {
   outline: none;
}

.car-search >button:hover {
   background-color: var(--accent-500);
}

/* ================================================ */
/* ============ PICKUP/RETURN DETAILS ============= */
/* ================================================ */
.pickup-return-details {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   background-color: var(--secondary-200);
   box-shadow: 0px 0px 10px gray;
   padding: 1.5rem;
   width: 100%;
}

.pickup-details,
.return-details {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
}

.pickup-details h2,
.return-details h2 {
   padding-left: var(--margin-xs);
}

.pickup-return-details input[type="date"],
.pickup-return-details input[type="time"],
.pickup-return-details input[type="text"] {
   border-radius: 0.5rem;
   border: none;
   outline: 1px solid lightgray;
   color: var(--text-950);
   padding: 0.8rem 1rem;
}

@media screen and (min-width: 768px) {
   .pickup-return-details-container {
      justify-content: flex-start;
   }

   .pickup-return-details {
      flex-direction: row;
      max-width: 60rem;
   }

   .pickup-details,
   .return-details {
      width: 100%;
   }
}

/* ================================================ */
/* ============== CAR CATALOGUE MAIN ============== */
/* ================================================ */
.car-catalogue .heading {
   text-align: center;
   font-size: 2.5rem;
   margin-top: var(--margin-xl);
   margin-bottom: var(--margin-l);
}

.car-listings {
   display: grid;
   grid-template-columns: 1fr;
   gap: 1.2rem;
}

@media screen and (min-width: 550px) {
   .car-listings {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media screen and (min-width: 1024px) {
   .car-listings {
      grid-template-columns: repeat(3, 1fr);
   }
}
/* =========================================== */
/* =============== CAR CARD ================== */
/* =========================================== */
.car-card {
   flex: 1 1 20rem;

   display: flex;
   flex-direction: column;
   align-items: center;

   padding: 1rem;
   height: 24rem;

   background-color: white;
   border-radius: 1rem;
   box-shadow: 0px 0px 8px darkgray;

   cursor: pointer;
   transition: all 0.1s ease-in-out;
}

.car-card:hover {
   transform: translateY(-0.1rem);
   scale: 1.01;
   outline: 1px solid gray;
   box-shadow: 0px 0px 14px darkgray;
}

/* ============================================= */
/* =============== CAR HEADER ================== */
/* ============================================= */
.car-card .card-header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   width: 100%;
   margin-bottom: var(--margin-s);
}

.card-header>img {
   height: 2rem;
   width: 2rem;
   object-fit: contain;
}

.rating-container {
   display: flex;
   justify-content: start;
   align-items: center;

   border-radius: 0.333rem;
   gap: 0.25rem;

   padding-top: 0.125rem;
   padding-bottom: 0.125rem;

   padding-left: 0.333rem;
   padding-right: 0.333rem;

   outline: 1px solid var(--text-900);
}

.rating-container .star {
   font-size: large;
   color: gold;
}

.rating-container .rating-count {
   color: gray;
}

/* ============================================= */
/* ============= IMAGE CONTAINER =============== */
/* ============================================= */
.car-card .image-container {
   width: 100%;
   height: 20rem;

   overflow: hidden;
}

.car-card .image-container>img {
   width: 100%;
   object-fit: contain;
}

/* ============================================ */
/* ================ CAR DATA ================== */
/* ============================================ */
.car-listings .car-card .car-data {
   display: flex;
   justify-content: space-between;
   align-items: end;
   width: 100%;

   margin-bottom: var(--margin-s);
}

.car-listings .car-card .car-data .data-left {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}

.car-listings .car-card .car-data .car-make {
   color: gray;
   margin-top: var(--margin-s);
}

.car-listings .car-card .car-data .car-model {
   color: var(--text-400);
   font-size: x-large;
}

.car-listings .car-card .car-data .hourly-rate strong {
   font-size: x-large;
   color: var(--accent-600);
}

.car-listings .car-card .separator {
   width: 100%;
   height: 1px;
   background-color: gray;
}

/* ============================================ */
/* ================ CAR STATS ================= */
/* ============================================ */
.car-listings .car-card .car-stats {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;

   margin-top: var(--margin-s);
}

.car-stat {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.1rem;
}

.car-stat>img {
   width: 1.5rem;
   height: 1.5rem;
}

/* ============================================ */
/* ================ CAR BUTTON ================ */
/* ============================================ */
.rent-btn {
   margin-top: var(--margin-s);
   padding-top: 1rem;
   background-color: var(--primary-500);
   width: 100%;

   font-size: large;
   font-weight: bold;

   color: var(--text-50);
   border: none;
   border-radius: 0.5rem;
   padding: 0.7rem 0rem;
}

/* ---- DEBUG ---- */
* {
   /* outline: 1px dotted rgb(205, 71, 71); */
}