@import url(globalVars.css);
@import url(header.css);

/* ---- DEBUG ---- */
* {
   /* outline: 1.5px dotted rgb(14, 14, 14); */
}

main {
   display: flex;
   flex-direction: column;
   align-items: center;

   --card-min-size: 24rem;
   --input-gap-y: 1rem;
}

.car-checkout-body {
   width: 90%;
   max-width: 40rem;
}
/* ================================================ */
/* =============== REVIEW BOOKING ================= */
/* ================================================ */
.review-booking-header {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   gap: 0.5rem;

   padding-left: 1rem;
   padding-top: 1rem;
   padding-bottom: 1rem;
}

@media screen and (min-width: 480px) {
   .review-booking-header {
      flex-direction: row;
      justify-content: start;
      align-items: center;
   }
}

.review-booking-header >button {
   border: none;
   background: transparent;
   text-align: center;
   width: 2.8rem;
}

.review-booking-header >span {
   font-size: xx-large;
}

/* ================================================ */
/* =============== BOOKING DETAILS ================ */
/* ================================================ */
.review-booking-body {
   --card-gap: 1rem;
   --img-size: 3.5rem;

   width: 100%;

   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   gap: var(--card-gap);
   padding-bottom: 2rem;
}

.booking-details-container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: var(--card-gap)
}

.car-checkout-body .confirmation-btn-large,
.car-checkout-body .confirmation-btn-small {
   width: 100%;
   padding: 1rem 0rem;

   border: none;
   border-radius: 1rem;

   font-size: x-large;
   font-weight: bold;

   color: var(--text-50);
   background-color: var(--primary-500);

   cursor: pointer;
   transition: background-color 0.2s;
}

.car-checkout-body .confirmation-btn-large {
   display: none;
}

.car-checkout-body .confirmation-btn-large:hover,
.car-checkout-body .confirmation-btn-small:hover {
   background-color: var(--primary-400);
}

.booking-details {
   background-color: var(--accent-300);
   border-radius: 1rem;
   padding: 1.5rem 1.5rem;

   display: flex;
   flex-direction: column;
   gap: 0.7rem;

   min-width: var(--card-min-size);
   width: 100%;
}

.booking-details .separator {
   width: 100%;
   height: 1px;
   background-color: gray;
}

.booking-header {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 0.8rem;
   height: var(--img-size);
}

.car-img {
   border-radius: 0.7rem;
   width: calc(var(--img-size) * (16 / 9));
   height: var(--img-size);
   height: 100%;
   object-fit: cover;
}

.car-details {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: start;
   height: 100%;
}

.car-make-model {
   font-size: large;
}

.pickup-return-container {
   display: flex;
   justify-content: start;
   align-items: center;

   gap: 1rem;
   height: 10rem;
}

.pickup-return-details {
   height: 100%;

   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
}

.pickup-return-details .details {
   display: flex;
   flex-direction: column;
}

.pickup-return-details .details .pickup-return-type {
   font-size: small;
   color: var(--text-600);
}

.pickup-return-details .details .pickup-return-date {
   font-size: medium;
}

.pickup-return-graphic {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 88%;
}

.pickup-return-graphic>img {
   max-width: 2rem;
}

.pickup-return-graphic>span {
   height: 58%;
   width: 1px;
   background-color: var(--text-950);
}

.booking-overview {
   width: 100%;
   display: flex;
   flex-direction: column;
   gap: 0.4rem;
}

.booking-overview .payment-summary {
   font-size: large;
   font-weight: bold;
}

.booking-overview .cost-breakdown {
   display: flex;
   justify-content: space-between;
   width: 100%;
}

.booking-overview .cost-breakdown .cost-final {
   font-size: 1.1rem;
   color: var(--primary-500);
}

/* =============================================== */
/* =============== CHECKOUT DATA ================= */
/* =============================================== */
.checkout-data {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: var(--card-gap);
   width: 100%;
}

.input-form {
   display: flex;
   flex-direction: column;
   gap: var(--input-gap-y);

   padding: 1.8rem 1.2rem;
   border-radius: 0.333rem;
   box-shadow: 0px 0px 3px lightgray;
   outline: 1px solid lightgray;
   background-color: white;
   width: 100%;
   min-width: var(--card-min-size);
}

.input-label-pair {
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 0.33rem;
}

.input-label-pair input[type="text"],
input[type="number"],
input[type="tel"],
input[type="email"] {
   box-sizing: border-box;
   border: none;
   outline: 1px solid lightgray;
   padding: 0.8rem 1rem;
   border-radius: 0.3rem;
   width: 100%;
}

.input-label-pair>label {
   font-size: small;
}

@media (min-width: 768px) {
   .review-booking-body {
      flex-direction: row-reverse;
      justify-content: center;
      align-items: start;
   }
   .car-checkout-body {
      max-width: 60rem;
   }
   .booking-details, 
   .car-checkout-body .confirmation-btn-large {
      max-width: 28rem;
   }
   .car-checkout-body .confirmation-btn-large {
      display: block;
   } 
   .car-checkout-body .confirmation-btn-small {
      display: none;
   }
}

@media (min-width: 1024px) {
   .car-checkout-body {
      max-width: 70rem;
   }
   .booking-details, 
   .car-checkout-body .confirmation-btn-large {
      max-width: 30rem;
   }
}