@import url(globalVars.css);
@import url(header.css);

*, *::before, *::after {
   /* outline: 1px dotted red; */
}

.employee-portal {
   --card-height: 9rem;
   color: var(--text-950);
}

.flex-centered {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   width: 100%;
   height: 100%;
}

h1 {
   font-size: 3rem;
   font-weight: bold;
   margin-top: var(--margin-s);
   margin-bottom: var(--margin-xs);
}

.sections-container {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   width: 100%;
}
/* ================================================ */
/* ============= CONFIRMATION MODAL =============== */
/* ================================================ */
.confirmation-modal-container {
   display: none;

   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.8);
   z-index: 3;
}

.confirmation-modal {
   --modal-width: 35rem;
   --modal-border-radius: 1rem;

   position: relative;
   left: calc(50% - calc(var(--modal-width) * 0.5));
   top: 20%;

   width: var(--modal-width);
   background-color: white;
   border-radius: var(--modal-border-radius);
}

.confirmation-modal-container .modal-top {
   height: 8rem;
   border-top-left-radius: var(--modal-border-radius);
   border-top-right-radius: var(--modal-border-radius);

   display: flex;
   justify-content: center;
   align-items: center;

   background-color: lightgray;
}

.confirmation-modal-container .modal-top >img {
   width: 6rem;
   height: 6rem;
}

.confirmation-modal-container .modal-bottom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   padding-left: 1.8rem;
   padding-right: 1.8rem;
   padding-top: 1rem;
   padding-bottom: 2rem;
}

.confirmation-modal-container .modal-bottom >h2 {
   margin-bottom: var(--margin-xs);
}

.confirmation-modal-container .modal-bottom >p {
   color: var(--text-800);
   margin-bottom: var(--margin-l);
}

.confirmation-modal-container .modal-buttons {
   display: flex;
   gap: 1.333rem;
}

.confirmation-modal-container .modal-buttons button {
   font-size: small;
   font-weight: bold;
   border: none;
   border-radius: 0.4rem;
   height: 3rem;
   width: 10rem;

   transition: background-color 0.1s;
   cursor: pointer;
}

.confirmation-modal-container .modal-buttons .cancel {
   color: var(--text-50);
   background-color: var(--primary-400);
}

.confirmation-modal-container .modal-buttons .cancel:hover {
   background-color: var(--primary-500);
}

.confirmation-modal-container .modal-buttons .confirm {
   color: var(--text-950);
   background-color: var(--primary-50);
}

.confirmation-modal-container .modal-buttons .confirm:hover {
   background-color: var(--primary-100);
}
/* ================================================ */
/* ============ CARS PENDING INSPECT ============== */
/* ================================================ */
.cars-pending-inspection {
   width: 100%; 
   display: grid;
}

.inspection-card {
   --outline-size: 0.25rem;

   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   margin-bottom: var(--margin-l);
   padding-top: var(--outline-size);

   height: calc(var(--card-height) + calc(var(--outline-size) * 2));
   overflow: hidden;

   transition: height 0.4s;
   z-index: 1;
}

.inspection-card-top {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: var(--background-100);
   box-shadow: 0px 0px 0.25rem var(--text-800);
   
   min-width: 38rem;

   height: var(--card-height);
   transition: outline 0.2s;
}

.highlight {
   border-radius: 0.3rem;
   outline: var(--outline-size) solid var(--background-600);
}

.inspection-details-container >img {
   --img-AR: calc(4 / 3);
   --img-padding: 0.4rem;
   height: var(--card-height);
   width: calc(var(--card-height) * var(--img-AR));
   padding: var(--img-padding);
   border-radius: calc(0.3rem + var(--img-padding));
   margin-right: var(--margin-s);
}

.inspection-details-container {
   display: flex;
   justify-content: start;
   height: 100%;
}

.inspection-details {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   padding-right: 1rem;
   white-space: nowrap;
}

.inspection-details >h2 {
   text-decoration: underline;
   margin-bottom: var(--margin-xs);
}

.inspection-details >h3 {
   margin-bottom: var(--margin-xs);
}

.inspection-details >span {
   margin-bottom: var(--margin-xxs);
}
/* ============================================= */
/* =============== INSPECT BTN ================= */
/* ============================================= */
.inspect-btn {
   border: none;
   background-color: var(--primary-500);
   padding: 0rem 0.6rem;
   height: 100%;

   display: flex;
   justify-content: center;
   align-items: center;

   cursor: pointer;
   transition: background-color 0.1s;
}

.inspect-btn:hover {
   background-color: var(--primary-400);
}

.inspect-btn>img {
   width: 2.5rem;
   height: 2.5rem;
   transform: rotateZ(90deg);

   transition: transform 0.2s;
}
/* =============================================== */
/* ============== INSPECTION FORM ================ */
/* =============================================== */
.inspection-form-container {
   width: 100%;

   outline: 1px solid white;
   background-color: rgb(247, 247, 247);

   /* Don't delete this */
   margin-top: 0.8rem;

   display: flex;
   justify-content: center;
   align-items: center;
}

.inspection-form {
   display: flex;
   flex-direction: column;

   overflow: scroll;
   max-width: 60rem;

   white-space: nowrap;
}
/* ============================================ */
/* ================ PENALTIES ================= */
/* ============================================ */
.inspection-form .penalties {
   display: flex;
   flex-direction: column;
   gap: 0.9rem;

   height: 14rem;
   width: 30rem;

   padding: 0.5rem;
   padding-right: 0.9rem;

   overflow-y: scroll;
   border: 1px solid #c5c5c5;
   background-color: var(--background-50);
}
/* ============================================ */
/* ============== PENALTY ENTRY =============== */
/* ============================================ */
.inspection-form .penalty-entry {
   display: flex;
   align-items: flex-end;
   gap: 1rem;

   font-size: small;
   padding: 0.3333rem;
   border-radius: 0.25rem;
}

.inspection-form .penalty-entry .damage-selector,
.inspection-form .penalty-entry .cost-input, 
.inspection-form .penalty-entry .img-input-label {
   border: none;
   background: none;
   border-bottom: 1px solid gray;
   height: 1.8rem;
}
/* ============================================ */
/* ================ COST INPUT ================ */
/* ============================================ */
.inspection-form .penalty-entry .cost-input {
   display: flex;
   align-items: center;
   width: 7rem;
}

.inspection-form .penalty-entry .cost-input input {
   border: none;
   background: none;
   width: 100%;
   font-size: medium;
}

.inspection-form .penalty-entry .cost-input input:focus {
   outline: none;
}

.inspection-form .penalty-entry .cost-input >img {
   width: 1.15rem;
   height: 1.15rem;
}
/* ============================================= */
/* ============= DAMAGE SELECTOR =============== */
/* ============================================= */
.inspection-form .penalty-entry .damage-selector {
   width: 7rem;
}
/* ============================================= */
/* ============== IMG INPUT LABEL ============== */
/* ============================================= */
.inspection-form .penalty-entry .img-input-label {
   display: flex;
   gap: 0.333rem;
   align-items: center;
   color: black;
   width: 10rem;

   cursor: pointer;
}

.inspection-form .penalty-entry .img-input-label >img {
   width: 1.25rem;
   height: 1.25rem;
}
/* ============================================== */
/* ============== DELETE ENTRY BTN ============== */
/* ============================================== */
.inspection-form .penalty-entry .delete-entry-btn {
   border: none;
   background: rgba(0, 0, 0, 0.05);
   font-size: large;

   width: 2.3rem;
   height: 2.3rem;
   border-radius: 99rem;

   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 0.2rem;

   transition: background-color 0.2s;
   cursor: pointer;
}

.inspection-form .penalty-entry .delete-entry-btn:hover {
   background-color: rgba(0, 0, 0, 0.15);
}
/* ============================================== */
/* ========== ADD ENTRY BTN CONTAINER =========== */
/* ============================================== */
.add-entry-btn-container {
   display: flex;
   justify-content: flex-end;

   padding: 0.9rem 1.5rem;
   border: 1.5px solid var(--text-700);
   border-top-right-radius: 1rem;
   border-top-left-radius: 1rem;
   background-color: var(--primary-50);
}

.add-entry-btn-container>button {
   border: none;
   font-size: medium;
   font-weight: bold;
   background-color: rgba(0, 0, 0, 0.12);
   padding: 0.9rem 1.3rem;
   border-radius: 0.5rem;

   transition: background-color 0.2s;
   cursor: pointer;
}

.add-entry-btn-container>button:hover {
   background-color: rgba(0, 0, 0, 0.2);
}
/* ============================================== */
/* ================ PENALTY INPUT =============== */
/* ============================================== */
.inspection-form .penalty-input {
   display: flex;
   justify-content: space-between;
   align-items: flex-end;
   padding: 0.5rem 0.8rem;
   font-size: large;

   background-color: var(--background-100);
}

.inspection-form .penalty-input button {
   display: flex;
   justify-content: center;
   align-items: center;

   border: none;
   background-color: var(--background-400);
   border-radius: 0.333rem;

   width: 5rem;
   height: 3rem;

   cursor: pointer;
   transition: background-color 0.2s;
}

.inspection-form .penalty-input button:hover {
   background-color: var(--background-300);
}

.inspection-form .penalty-input button img {
   width: 2.5rem;
   height: 2.5rem;
}