@import url(globalVars.css);

/* ---- DEBUG ---- */
* {
   /* outline: 1px dotted rgb(205, 71, 71); */
}

/* =============================================== */
/* ==================== HEADER =================== */
/* =============================================== */
.FAQ .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   color: black;
   background: var(--background-50);
   box-shadow: 0px 0.5px 4px gray;
}

.FAQ .header .header-left {
   margin-left: var(--header-xpad);
   display: flex;
   justify-content: center;
   align-items: center;
}

.FAQ .header .header-left >a {
   margin: 0;
   padding: 0;
}

.FAQ .header .header-left >a img {
   display: block;
   height: 3rem;
}

.FAQ .header .header-left .burger-menu {
   width: 4rem;
   height: 3rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.3333rem;

   cursor: pointer;
}

.FAQ .header .header-left .burger-menu >span {
   height: 2.5px;
   width: 33px;
   background-color: rgb(20, 20, 20);
}

/* Hide burger menu over certain size */
@media (min-width: 991px) {
   .FAQ .header .header-left .burger-menu {
      display: none;
   }
}

.FAQ .header .menu-items-large {
   display: none;
}

.FAQ .header .menu-items-large a {
   text-decoration: none;
   font-size: medium;
   color: black;
}

.FAQ .header .menu-items-large a:hover {
   color: var(--accent)
}

.FAQ .header .menu-items-small {
   display: flex;
   gap: 0.5rem;
   margin-right: 1.5rem;
}

@media (min-width: 991px) {
   .FAQ .header .menu-items-large {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-right: 1.5rem;
   }

   .FAQ .header .menu-items-small {
      display: none;
   }
}

/* ================================================ */
/* ================ LOGIN BUTTON ================== */
/* ================================================ */
.FAQ .header .login-btn {
   background: none;
   border: none;
   padding: 0;
   font: inherit;

   padding-left: 1.2rem;
   padding-right: 1.2rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;

   outline: 1.5px solid var(--text-950);
   border-radius: 0.5rem;

   margin-right: var(--header-xpad);

   text-decoration: none;
   color: black;
}

.FAQ .header .login-btn:hover {
   cursor: pointer;
}

/* ================================================ */
/* ============== DROPDOWN OBJECT ================= */
/* ================================================ */
.FAQ .dropdown-section >h1 {
   text-align: center;
   font-size: 2.3rem;

   padding-top: 4rem;
   padding-bottom: 4rem;
}

.FAQ .all-dropdowns {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   gap: 1rem;
}

.FAQ .all-dropdowns .dropdown-object {
   max-width: 40rem;
   max-height: var(--FAQ-header-height);
   overflow: hidden;

   transition: max-height 0.7s ease-in-out, background-color 0.333s;

   text-align: center;
   background-color: var(--primary-200);
   border-radius: 1rem;
}

.FAQ .all-dropdowns .dropdown-object:hover {
   background-color: var(--secondary-200);
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-left: 2rem;
   padding-right: 1.5rem;
   min-height: var(--FAQ-header-height);
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header >h3 {
   font-size: x-large;
   font-weight: bold;
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header .updown-arrow {
   font-size: xx-large;
   text-align: center;
}

.FAQ .all-dropdowns .dropdown-object .dropdown-content {
   padding-left: 2rem;
   padding-right: 1.5rem;

   font-size: larger;
   text-align: left;
}

