@import url(globalVars.css);
@import url(header.css);

/* ---- DEBUG ---- */
* {
   /* outline: 1px dotted rgb(205, 71, 71); */
}

/* ================================================ */
/* ============== DROPDOWN OBJECT ================= */
/* ================================================ */
.FAQ .dropdown-section >h1 {
   text-align: center;
   font-size: 2.3rem;

   padding-top: 4rem;
   padding-bottom: 4rem;
}

.FAQ .all-dropdowns {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;

   gap: 2.5rem;
}

.FAQ {
   color: var(--primary-950);
}

.FAQ details {
   outline: 5px solid var(--primary-500);

   border-radius: 1rem;
   padding: 1.5rem 2rem;
   width: 40rem;

   cursor: pointer;
}

.FAQ details:hover {
   color: var(--text-50);
   background-color: var(--primary-500);
}

.FAQ summary {
   font-size: xx-large;
   font-weight: bold;
}

.FAQ details p {
   font-size: large;
}

/* .FAQ .all-dropdowns .dropdown-object {
   max-width: 40rem;
   max-height: var(--FAQ-header-height);
   overflow: hidden;

   transition: max-height 0.7s ease-in-out, background-color 0.333s;

   text-align: center;
   background-color: var(--primary-200);
   border-radius: 1rem;
}

.FAQ .all-dropdowns .dropdown-object:hover {
   background-color: var(--secondary-200);
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   padding-left: 2rem;
   padding-right: 1.5rem;
   min-height: var(--FAQ-header-height);
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header >h3 {
   font-size: x-large;
   font-weight: bold;
}

.FAQ .all-dropdowns .dropdown-object .dropdown-header .updown-arrow {
   font-size: xx-large;
   text-align: center;
}

.FAQ .all-dropdowns .dropdown-object .dropdown-content {
   padding-left: 2rem;
   padding-right: 1.5rem;

   font-size: larger;
   text-align: left;
} */

