*, *::before, *::after {
   box-sizing: border-box;
}

:root {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-smooth: never;

   --margin-xxs: 0.236em;
   --margin-xs: 0.382em;
   --margin-s: 0.618em;
   --margin-m: 0.1em;
   --margin-l: 1.618em;
   --margin-xl: 2.618em;
   --margin-xxl: 4.236em;

   --d1-margin-xxs: 0.266em;
   --d1-margin-xs: 0.431em;
   --d1-margin-s: 0.697em;
   --d1-margin-m: 1.128em;
   --d1-margin-l: 1.825em;
   --d1-margin-xl: 2.953em;
   --d1-margin-xxl: 4.778em;

   --body-margin-xxs: 0.382em;
   --body-margin-xs: 0.618em;
   --body-margin-s: 0.1em;
   --body-margin-m: 1.618em;
   --body-margin-l: 2.618em;
   --body-margin-xl: 4.236em;
   --body-margin-xxl: 6.854em;

   --text-margin-xxs: 0.3em;
   --text-margin-xs: 0.486em;
   --text-margin-s: 0.7862em;
   --text-margin-m: 1.272em;
   --text-margin-l: 2.058em;
   --text-margin-xl: 3.330em;
   --text-margin-xl: 5.388em;

   /* --header-xpad: 2rem;
   --xpad: 2rem;
   --FAQ-header-height: 4rem;  */

   /* --text-50: #f9ebee;
   --text-100: #f4d7dd;
   --text-200: #e9afbb;
   --text-300: #dd8899;
   --text-400: #d26077;
   --text-500: #c73855;
   --text-600: #9f2d44;
   --text-700: #772233;
   --text-800: #501622;
   --text-900: #280b11;
   --text-950: #140608;

   --background-50: #faebee;
   --background-100: #f4d7dc;
   --background-200: #eaaeb9;
   --background-300: #df8696;
   --background-400: #d45e74;
   --background-500: #c93651;
   --background-600: #a12b41;
   --background-700: #792030;
   --background-800: #511520;
   --background-900: #280b10;
   --background-950: #140508;

   --primary-50: #faebee;
   --primary-100: #f4d7dc;
   --primary-200: #eaaeb9;
   --primary-300: #df8696;
   --primary-400: #d45e74;
   --primary-500: #c93651;
   --primary-600: #a12b41;
   --primary-700: #792030;
   --primary-800: #511520;
   --primary-900: #280b10;
   --primary-950: #140508;

   --secondary-50: #faf9eb;
   --secondary-100: #f4f3d7;
   --secondary-200: #e9e6af;
   --secondary-300: #deda87;
   --secondary-400: #d3cd5f;
   --secondary-500: #c8c137;
   --secondary-600: #a09a2c;
   --secondary-700: #787421;
   --secondary-800: #504d16;
   --secondary-900: #28270b;
   --secondary-950: #141305;

   --accent-50: #f6faeb;
   --accent-100: #ecf4d7;
   --accent-200: #daeaae;
   --accent-300: #c7df86;
   --accent-400: #b5d45e;
   --accent-500: #a2c936;
   --accent-600: #82a12b;
   --accent-700: #617920;
   --accent-800: #415115;
   --accent-900: #20280b;
   --accent-950: #101405; */

   --text-50: #fce9e9;
   --text-100: #f8d3d3;
   --text-200: #f1a7a7;
   --text-300: #ea7b7b;
   --text-400: #e34f4f;
   --text-500: #dd2222;
   --text-600: #b01c1c;
   --text-700: #841515;
   --text-800: #580e0e;
   --text-900: #2c0707;
   --text-950: #160303;
   
   --background-50: #fcece9;
   --background-100: #f8dad3;
   --background-200: #f1b4a7;
   --background-300: #ea8f7b;
   --background-400: #e36a4f;
   --background-500: #dd4522;
   --background-600: #b0371c;
   --background-700: #842915;
   --background-800: #581b0e;
   --background-900: #2c0e07;
   --background-950: #160703;
   
   --primary-50: #fbeaea;
   --primary-100: #f7d5d4;
   --primary-200: #efaca9;
   --primary-300: #e7827e;
   --primary-400: #de5854;
   --primary-500: #d62f29;
   --primary-600: #ab2521;
   --primary-700: #811c18;
   --primary-800: #561310;
   --primary-900: #2b0908;
   --primary-950: #150504;
   
   --secondary-50: #f9fbea;
   --secondary-100: #f2f7d4;
   --secondary-200: #e5efa9;
   --secondary-300: #d9e77e;
   --secondary-400: #ccde54;
   --secondary-500: #bfd629;
   --secondary-600: #99ab21;
   --secondary-700: #738118;
   --secondary-800: #4c5610;
   --secondary-900: #262b08;
   --secondary-950: #131504;
   
   --accent-50: #f2fbea;
   --accent-100: #e6f7d4;
   --accent-200: #ccefa9;
   --accent-300: #b3e77e;
   --accent-400: #99de54;
   --accent-500: #80d629;
   --accent-600: #66ab21;
   --accent-700: #4d8118;
   --accent-800: #335610;
   --accent-900: #1a2b08;
   --accent-950: #0d1504;
}

:root[data-theme="dark"] {
   --text-50: #140508;
   --text-100: #290a0f;
   --text-200: #52141f;
   --text-300: #7a1f2e;
   --text-400: #a3293d;
   --text-500: #cc334d;
   --text-600: #d65c70;
   --text-700: #e08594;
   --text-800: #ebadb8;
   --text-900: #f5d6db;
   --text-950: #faebed;

   --background-50: #140508;
   --background-100: #290a0f;
   --background-200: #52141f;
   --background-300: #7a1f2e;
   --background-400: #a3293d;
   --background-500: #cc334d;
   --background-600: #d65c70;
   --background-700: #e08594;
   --background-800: #ebadb8;
   --background-900: #f5d6db;
   --background-950: #faebed;

   --primary-50: #140508;
   --primary-100: #280b10;
   --primary-200: #511520;
   --primary-300: #792030;
   --primary-400: #a12b41;
   --primary-500: #c93651;
   --primary-600: #d45e74;
   --primary-700: #df8696;
   --primary-800: #eaaeb9;
   --primary-900: #f4d7dc;
   --primary-950: #faebee;

   --secondary-50: #141305;
   --secondary-100: #28270b;
   --secondary-200: #504d16;
   --secondary-300: #787421;
   --secondary-400: #a09a2c;
   --secondary-500: #c8c137;
   --secondary-600: #d3cd5f;
   --secondary-700: #deda87;
   --secondary-800: #e9e6af;
   --secondary-900: #f4f3d7;
   --secondary-950: #faf9eb;

   --accent-50: #101405;
   --accent-100: #20280b;
   --accent-200: #415115;
   --accent-300: #617920;
   --accent-400: #82a12b;
   --accent-500: #a2c936;
   --accent-600: #b5d45e;
   --accent-700: #c7df86;
   --accent-800: #daeaae;
   --accent-900: #ecf4d7;
   --accent-950: #f6faeb;
}

@font-face {
   font-family: 'Inter';
   src: url('/assets/fonts/Inter/Inter-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Inter';
   src: url('/assets/fonts/Inter/Inter-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
}

html,
body {
   background: var(--background-50);
   color: var(--text-950);

   margin: 0;
   padding: 0;

   height: 100%;

   font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4, 
h5, 
h6, 
ul,
ol,
p,
textarea {
   margin: 0;
   padding: 0;
}

img {
   display: block;
   width: 100%;
}