@import url(globalVars.css);
@import url(header.css);

/* ---- DEBUG ---- */
* {
   /* outline: 2px dotted rgb(0, 8, 65); */
}

.index {
   --hero-leftpad: 1rem;
}

/* ============================================= */
/* ============= SECTIONS CONTAINER ============ */
/* ============================================= */
.index .sections-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

@keyframes hero-img-fade-in {
   0% {
      opacity: 0%;
   }

   100% {
      opacity: 40%;
   }
}

@keyframes hero-text-fade-in {
   0% {
      opacity: 0%;
      transform: translateX(-8rem);
   }
   100% {
      opacity: 100%;
      transform: translateX(0px);
   }
}

.hero-container {
   display: grid;
   grid-template-areas: "hero-grid-overlay";
   min-height: 20rem;
   max-height: 45rem;
}

.hero-container img {
   grid-area: hero-grid-overlay;
   height: 100%;
   object-fit: cover;
   overflow: hidden;
   animation: hero-img-fade-in 0.8s ease-in-out 0s 1 normal forwards;
}

.hero {
   grid-area: hero-grid-overlay;
   z-index: 1;
   padding-left: 1.5rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
   animation: hero-text-fade-in 1s ease-in-out;
}

.hero >h1 {
   /* max-width: 58rem; */
   width: 75vw;
   font-size: clamp(2rem, calc(5vw), 5rem);
   margin-bottom: var(--margin-xs);
}

.hero >h2 {
   font-weight: normal;
   max-width: 47rem;
   width: 60vw;
   font-size: clamp(0.8rem, calc(2vw), 1.875rem);
   margin-bottom: var(--margin-l); 
}

.hero >button {
   border: none;
   border-radius: 1rem;
   padding: 1rem 3rem;
   font-size: x-large;
   font-weight: bold;
   background-color: var(--primary-300);
   transition: all 0.2s ease-in-out;
}

.hero >button:hover {
   cursor: pointer;
   background-color: var(--primary-400);
   box-shadow: 0px 0px 3px var(--text-800);
}

@media screen and (min-width: 991px) {
   .hero {
      padding-left: 5rem;
   }
} 

/* ========================================== */
/* ================ WHY AZOOM =============== */
/* ========================================== */
.why-azoom {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.reasons-container {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 1rem;
}

.reason {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   border-radius: 0.8rem;

   width: 100%;
   min-height: 3rem;

   padding-top: calc(1.875rem / 1.2);
   padding-left: 1.875rem;
   padding-right: 1.875rem;
   padding-bottom: 1.875rem;

   text-align: center;
}

@media screen and (min-width: 767px) {
   .why-azoom {
      margin-left: 1rem;
      margin-right: 1rem;
   }
}

@media screen and (min-width: 991px) {}