@import url(globalVars.css);

/* ---- DEBUG ---- */
* {
   outline: 1px dotted rgb(205, 71, 71);
}

/* ============================================ */
/* ================== HEADER ================== */
/* ============================================ */
.header {
   display: flex;
   justify-content: space-between;
   align-items: center;

   color: var(--text-950);
   background: var(--background-50);
   box-shadow: 0px 0.5px 4px var(--text-800);
}

.header-left {
   display: flex;
}

.header-left .logo {
   height: 3rem;
}

.burger-menu {
   width: 3rem;
   height: 3rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.3rem;

   cursor: pointer;
}

.burger-menu>span {
   height: 2px;
   width: 25px;
   background-color: var(--background-950);
}

.menu-items-large {
   display: none;
}

.login-btn {
   padding-left: 1.2rem;
   padding-right: 1.2rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;

   outline: 1.5px solid var(--text-950);
   border-radius: 0.5rem;

   text-decoration: none;
   color: var(--text-950);

   margin-right: 1rem;
}

.login-btn:hover {
   cursor: pointer;
}

@media screen and (min-width: 767px) {
   .header {
      padding-left: var(--header-xpad);
      padding-right: var(--header-xpad);
   }

   .login-btn {
      margin-right: 0;
   }
}

@media screen and (min-width: 991px) {
   .burger-menu {
      display: none;
   }

   .menu-items-large {
      display: flex;
      gap: 2rem;
   }
}

/* ============================================= */
/* ============= SECTIONS CONTAINER ============ */
/* ============================================= */
.index .sections-container {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

@keyframes hero-img-fade-in {
   0% {
      opacity: 0%;
   }
   100% {
      opacity: 50%;
   }
}

@keyframes hero-text-fade-in {
   0% {
      opacity: 0%;
      transform: translateX(-100px);
   }
   100% {
      opacity: 100%;
      transform: translateX(0px);
   }
}

.hero-container {
   display: grid;
   grid-template-areas: "hero-grid-overlay";

   min-height: 18rem;
}

.hero-container img {
   grid-area: hero-grid-overlay;
   height: 100%;
   object-fit: cover;
   overflow: hidden;
   opacity: 40%;
   animation: hero-img-fade-in 0.5s ease-in-out;
}

.hero {
   grid-area: hero-grid-overlay;
   opacity: 100%;

   padding-left: 0.5rem;
   padding-right: 0.5rem;

   z-index: 3;

   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: start;

   animation: hero-text-fade-in 0.5s ease;
}

.hero h1 {
   /* font-size: min(10vw, 2.5rem); */
   font-size: max(calc(8vw * 0.8), 1.2rem);
}

.hero h2 {
   /* font-size: min(4vw, 1rem); */
   font-size: max(calc(3vw * 0.8), 0.9rem);
}

@media screen and (min-width: 767px) {
   .hero {
      max-width: 70vw;
   }
}

@media screen and (min-width: 991px) {
}

/* ========================================== */
/* ================ WHY AZOOM =============== */
/* ========================================== */
.why-azoom {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.reasons-container {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 1rem;
}

.reason {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   border-radius: 0.8rem;

   width: 100%;
   min-height: 3rem;

   padding-top: calc(1.875rem / 1.2);
   padding-left: 1.875rem;
   padding-right: 1.875rem;
   padding-bottom: 1.875rem;

   text-align: center;
}

@media screen and (min-width: 767px) {
   .why-azoom{
      margin-left: 1rem;
      margin-right: 1rem;
   }  
}

@media screen and (min-width: 991px) {
}

