@import url(globalVars.css);
@import url(header.css);

/* ---- DEBUG ---- */
* {
   /* outline: 2px dotted rgb(228, 4, 4); */
}

html, body {
   height: 100%;
}

.index {
   --hero-leftpad: 1rem;
}

/* ============================================= */
/* ============= SECTIONS CONTAINER ============ */
/* ============================================= */
.index .sections-container {
   display: flex;
   flex-direction: column;
}

/* ============================================= */
/* =================== HERO ==================== */
/* ============================================= */
@keyframes hero-img-fade-in {
   0% {
      opacity: 0%;
   }

   100% {
      opacity: 40%;
   }
}

@keyframes hero-text-fade-in {
   0% {
      opacity: 0%;
      transform: translateX(-8rem);
   }

   100% {
      opacity: 100%;
      transform: translateX(0px);
   }
}

.hero-container {
   position: relative;
   height: 94vh;
}

.hero-container .parallax-img {
   background-image: url("../assets/images/Hero.jpg");
   opacity: 0.25;
   height: 100%;
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   animation: hero-img-fade-in 2s ease 0s 1 normal forwards;
}

.hero {
   height: 100%;
   position: absolute;
   top: 0;
   bottom: 0;

   display: flex;
   flex-direction: column;
   justify-content: center;

   padding-left: 3rem;
   z-index: 1;
   animation: hero-text-fade-in 1.5s;
}

.hero>h1 {
   width: 75vw;
   font-size: clamp(3rem, calc(4.8vw), 5rem);
   margin-bottom: var(--margin-s);
}

.hero>p {
   font-weight: normal;
   max-width: 47rem;
   width: 60vw;
   font-size: clamp(1.2rem, calc(2.2vw), 2rem);
   margin-bottom: var(--margin-xl);
}

.hero>button {
   border: none;
   border-radius: 0.5rem;
   padding: 0.9rem 2.2rem;
   max-width: 14rem;
   font-size: large;
   font-weight: bold;
   background-color: var(--primary-500);
   color: var(--text-50);
   transition: background-color 0.2s ease-in-out;
}

.hero>button:hover {
   cursor: pointer;
   background-color: var(--primary-400);
}

@media screen and (min-width: 768px) {
   .hero {
      padding-left: 5rem;
   }
}

/* ========================================== */
/* ================ WHY AZOOM =============== */
/* ========================================== */
.why-azoom {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding: 3rem 0rem;
   min-height: 80vh;
}

.why-azoom>h2 {
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

.reasons-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   gap: 2rem;
}

.reasons-container .reason {
   box-shadow: 0px 0px 1rem gray;
   background-color: var(--primary-100);
}

.reasons-container .reason::before {
   content: "";
   position: absolute;
   height: 0.6rem;
   top: -0.6rem;
   left: 0;
   right: 0;
   background-color: var(--primary-500);
   border-top-left-radius: 1.5rem;
   border-top-right-radius: 1.5rem;
}

.reason {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
   width: 90%;
   min-height: 13rem;
   text-align: center;
   padding: 0rem 1.5rem;

   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;
}

.reason>img {
   width: 5rem;
   height: 5rem;
}

.reason>h3 {
   font-size: x-large;
}

.reason>span {
   width: 80%;
   text-align: center;
   font-size: large;
   color: var(--text-800);
}

.reasons-container .reason:first-child>span {
   text-align: center;
}

@keyframes reason-fade-up {
   0% {
      opacity: 0%;
      transform: translateY(50px);
   }

   100% {
      opacity: 100%;
      transform: translateY(0px);
   }
}

.why-azoom>h2 {
   animation: reason-fade-up 0.6s ease 0.3s 1 normal both;
}

.reasons-container div:nth-child(1) {
   animation: reason-fade-up 0.6s ease 0.5s 1 normal both;
}

.reasons-container div:nth-child(2) {
   animation: reason-fade-up 0.6s ease 1s 1 normal both;
}

.reasons-container div:nth-child(3) {
   animation: reason-fade-up 0.6s ease 1.5s 1 normal both;
}

@media screen and (min-width: 768px) {
   .reason {
      width: 80%;
   }
}

@media screen and (min-width: 1024px) {
   .reasons-container {
      flex-direction: row;
      justify-content: center;
      width: 95%;
   }

   .reason {
      max-width: 29rem;
      min-height: 17rem;
   }

   .reason span {
      text-align: left;
   }
}
/* ========================================== */
/* ============== OUR MISSION =============== */
/* ========================================== */
.mission-section {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;

   height: 30rem;
   background-image: url('../assets/images/black-supercar.jpg');
   background-size: cover;

   text-align: center;
   padding: 2rem 0rem;
}

.mission-section h2 {
   margin-bottom: var(--margin-s);
}

.mission-section p {
}
/* ========================================== */
/* ============== GET STARTED =============== */
/* ========================================== */
.get-started-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   padding: 3rem 0rem;
   background-color: rgba(255, 255, 255, 0.25);
   color: var(--text-950);

   min-height: 80vh;
}

.get-started-section >h2 {
   text-align: center;
   font-size: 2.5rem;
   margin-bottom: var(--margin-l);
}

.get-started {
   display: grid;
   grid-auto-flow: row;
   gap: 2rem;
   border-radius: 1rem;
   padding: 2rem;
   width: 95%;
}

.get-started .instruction {
   display: grid;
   grid-template-columns: 1fr 15fr;
   grid-template-rows: 1fr 2fr;
   gap: 1rem;

   padding: 1rem;
   /* border-radius: 1rem; */
   box-shadow: 0px 0px 1rem gray;

   color: var(--text-950);
   background-color: var(--primary-100);
}

.get-started .step-number {
   grid-column: 1;
   grid-row: 1;

   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--secondary-500);
   color: var(--text-50);
   border-radius: 4rem;
   width: 3rem;
   height: 3rem;
}

.get-started .step-number >h3 {
   font-size: x-large;
   font-weight: bold;
}

.get-started .instruction >h4 {
   grid-column: 2;
   grid-row: 1;
   font-size: xx-large;
}

.get-started .instruction >p {
   grid-column: 2;
   grid-row: 2;
   font-size: large;
}

@media screen and (min-width: 1024px) {
   .get-started {
      grid-auto-flow: column;
   }
}

/* ================================================ */
/* ================= TESTIMONIALS ================= */
/* ================================================ */
.testimonials {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 4rem;

   min-height: 70vh;

   background: linear-gradient(
      /* to right, */
      110deg, 
      #1b1b1b, 
      var(--primary-900)
   );
   color: var(--text-50);
}

.testimonials-top {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
   gap: 1rem;

   min-width: 90%;
   text-align: left;
}

.testimonials-text >h2 {
   font-weight: bold;
   font-size: 2.5rem;
   margin-bottom: var(--margin-xs);
}

.testimonials-text >p {
   font-size: large;
   color: var(--text-200);
}

.testimonials-buttons {
   display: flex;
   align-items: center;
   width: 100%;
   gap: 1rem;
}

.testimonials-buttons button {
   color: var(--text-50);
   font-size: x-large;
   font-weight: bold;
   width: 3.5rem;
   height: 3.5rem;

   background: rgba(255, 255, 255, 0.3);
   border: 0;
   border-radius: 0.3333rem;
}

.testimonials-buttons button:hover {
   cursor: pointer;
}

/* =========================================== */
/* ================ CAROUSEL ================= */
/* =========================================== */
.testimonials-carousel {
   display: flex;
   justify-content: start;
   gap: 1.6rem;
   scale: 1.0;

   transition: translate 0.5s;
}

@media screen and (min-width: 768px) {
   .testimonials-top {
      width: 50rem;

      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
   } 
   .testimonials-buttons {
      justify-content: flex-end;
   }
}

.carousel-item {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;

   min-width: 19rem;
   height: 20rem;
   padding: 0rem 1.2rem;
   border-radius: 0.8rem;
   /* overflow: hidden; */
   background: rgba(255, 255, 255, 0.1);

   transition: scale 0.5s;
}

.carousel-item .star-container {
   display: flex;
   justify-content: center;
   align-items: center;
   color: gold;
}

.carousel-item .content {
   text-align: left;
   font-style: italic;
}

.carousel-item .name {
   font-weight: bold;
   font-size: medium;
}

.carousel-item .title {
   font-size: small;
}

/* =========================================== */
/* =============== LOCATIONS ================= */
/* =========================================== */
.locations-section {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   min-height: 75vh;
}

.locations-section>h2 {
   font-size: xx-large;
   padding: 1rem 0rem;

   color: linear-gradient(to right,
         red, blue);
}

.all-locations {
   display: flex;
   justify-content: center;
   gap: 1rem;
}
/* ==================================== */
/* =============== FAQ ================ */
/* ==================================== */
.FAQ-section {
   /* background: linear-gradient(
      to right, 
      var(--primary-700), 
      var(--primary-950)
   );  */
   color: var(--text-50);

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;

   padding: 3rem 0rem;
   min-height: 45rem;
}

#FAQ-canvas {
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
}

.FAQ-section >h1 {
   text-align: center;
   font-size: xx-large;
   margin-bottom: var(--margin-l);
}

.FAQ-section .all-dropdowns {
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   gap: 2.5rem;
}

.FAQ-section details {
   outline: 3px solid var(--text-50);

   border-radius: 1rem;
   padding: 1.5rem 2rem;

   cursor: pointer;
   transition: all 0.2s;
}

.FAQ-section details:hover {
   color: var(--text-950);
   background-color: var(--text-50);
}

.FAQ-section summary {
   font-size: x-large;
   font-weight: bold;
}

.FAQ-section details p {
   font-size: large;
}

.FAQ-section details, 
.FAQ-section summary, 
.FAQ-section p {
   max-width: 30rem;
}

/* ============================================= */
/* ================= FOOTER ==================== */
/* ============================================= */
.index footer {
   display: flex;
   justify-content: center;
   align-items: center;

   color: var(--text-50);
   background: black;
}

.footer-content {
   width: 90%;
   display: flex;
   flex-direction: column;
   align-items: center;

   margin: 2rem 0rem;
   gap: 1rem;
}

.footer-section {
   width: 95%;
}

.footer-separator {
   width: 100%;
   background: var(--background-50);
   height: 1px;
}

@media screen and (min-width: 768px) {
   .footer-content {
      width: 80%;
      max-width: 63rem;
      align-items: center;
   }
}
/* ============================================= */
/* =============== FOOTER - TOP ================ */
/* ============================================= */
.footer-top {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: start;
   gap: 1rem;
}

.footer-top h3 {
   font-size: x-large;
   margin-bottom: var(--margin-xxs);
}

.footer-top input {
   border: none;
   height: 2rem;
   width: 14rem;
   padding-left: 1.5rem;
   border-radius: 1.5rem;
}

.footer-top input:focus {
   outline: none;
   border: none;
}

.footer-top button {
   border: none;
   height: 2.3rem;
   padding-left: 1rem;
   padding-right: 1rem;
   border-radius: 2rem;
   font-weight: bold;
   background: var(--accent-500);
   transition: background-color 0.2s ease-in-out;
}

.footer-top button:hover {
   cursor: pointer;
   background-color: var(--accent-600);
}

@media screen and (min-width: 768px) {
   .footer-top {
      flex-direction: row;
      align-items: center;
   }
}

/* ============================================= */
/* ============== FOOTER - MIDDLE ============== */
/* ============================================= */
.footer-middle {
   display: flex;
   flex-direction: column;
   align-items: start;
   justify-content: space-between;
   gap: 2.5rem;
}

.footer-object {
   display: flex;
   flex-direction: column;
   gap: 0.333rem;
}

.social-links {
   display: flex;
   justify-content: start;
   align-items: center;
   gap: 1.5rem;
}

.social-links img {
   width: 1.3rem;
   height: 1.3rem;
   object-fit: contain;
}

.footer-middle .footer-object a {
   color: rgb(182, 182, 182);
   text-decoration: none;
}

.footer-middle .footer-object span {
   color: rgb(182, 182, 182);
}

.footer-middle .footer-object a:hover {
   color: white;
   text-decoration: underline;
}

@media screen and (min-width: 768px) {
   .footer-middle {
      flex-direction: row;
   }
}

/* ============================================= */
/* ============== FOOTER - BOTTOM ============== */
/* ============================================= */
@media screen and (min-width: 768px) {
   .footer-bottom {
      display: flex;
      justify-content: center;
   }
}