@import url(globalVars.css);

.login {
   display: flex;
   flex-direction: column;
}

/* =============================================== */
/* ==================== HEADER =================== */
/* =============================================== */
.login .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   color: black;
   background: var(--background-50);
   box-shadow: 0px 0.5px 4px gray;

   width: 100%;
}

.login .header .header-left {
   margin-left: var(--header-xpad);
   margin-left: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.login .header .header-left >a {
   margin: 0;
   padding: 0;
}

.login .header .header-left >a img {
   display: block;
   height: 3rem;
}

.login .header .header-left .burger-menu {
   width: 4rem;
   height: 3rem;

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.3333rem;

   cursor: pointer;
}

.login .header .header-left .burger-menu >span {
   height: 2.5px;
   width: 33px;
   background-color: rgb(20, 20, 20);
}

/* Hide burger menu over certain size */
@media (min-width: 991px) {
   .login .header .header-left .burger-menu {
      display: none;
   }
}

.login .header img {
   height: 3rem;
}

.login .header .menu-items-large {
   display: none;
}

.login .header .menu-items-large a {
   text-decoration: none;
   font-size: medium;
   color: black;
}

.login .header .menu-items-large a:hover {
   color: var(--accent)
}

.login .header .menu-items-small {
   display: flex;
   gap: 0.5rem;
   margin-right: 1.5rem;
}

@media (min-width: 991px) {
   .login .header .menu-items-large {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-right: 1.5rem;
   }

   .login .header .menu-items-small {
      display: none;
   }
}

/* ================================================ */
/* ================ LOGIN BUTTON ================== */
/* ================================================ */
.login .header .login-btn {
   background: none;
   border: none;
   padding: 0;
   font: inherit;

   padding-left: 1.2rem;
   padding-right: 1.2rem;
   padding-top: 0.2rem;
   padding-bottom: 0.2rem;

   outline: 1.5px solid var(--text-950);
   border-radius: 0.5rem;

   margin-right: var(--header-xpad);

   text-decoration: none;
   color: black;
}

.login .header .login-btn:hover {
   cursor: pointer;
}

/* ================================================ */
/* ================ LOGIN BODY ==================== */
/* ================================================ */
.login .body {
   flex-grow: 1;

   width: 100%;
   /* height: 100%; */
   background: var(--background-100);
   /* outline: 5px solid red; */

   display: flex;
   justify-content: center;
   align-items: center;
}

/* ================================================ */
/* ================ LOGIN FORM ==================== */
/* ================================================ */
.login .body .login-form {
   background: var(--primary-400);
   border-radius: 1rem;
   box-shadow: 0px 3px 10px gray;

   min-width: 40rem;
   min-height: 45rem;

   display: grid;
   grid-template-columns: 0% 100%;

   margin-bottom: 3rem;
}

@media (min-width: 991px) {
   .login .body .login-form {
      min-width: 60rem;
      grid-template-columns: 57% 43%;
   }
}

.login .body .login-form .form-left {
   /* background: var(--primary-400); */
   background-image: url(../assets/images/black-and-yellow.jpg);
   background-size: cover;
   background-position: -220px;
}

.login .body .login-form .form-right {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;

   background: white;
}

.login .body .login-form .form-right >h1 {
   font-size: 2.5rem;
   margin-bottom: 1rem;
}

.login .body .login-form .form-right input[type=text] {
   border: none;
   min-height: 1.5rem;
   min-width: 20rem;
   border-bottom: 0.8px solid rgb(80, 80, 80);
   outline: none;
}

.login .body .login-form .form-right .input-options {
   display: flex;
   justify-content: space-between;
   min-width: 20rem;

   font-size: small;
}

.login .body .login-form .form-right a {
   color: var(--text-950);
   text-decoration: none;
}

.login .body .login-form .form-right a:hover {
   text-decoration: underline;
}

.login .body .login-form .form-right .login-btn {
   border: none;
   min-width: 20rem;
   min-height: 2.5rem;
   font-weight: bold;
   background: var(--accent-300);

   cursor: pointer;
   transition: background 0.25s;
}

.login .body .login-form .form-right .login-btn:hover {
   background: var(--accent-500);
}

.login .body .login-form .form-right span {
   font-size: small;
}

/* .login .body .login-form .form-right >span >a {
   
} */

/* ---- DEBUG ---- */
* {
   /* outline: 1px dotted rgb(205, 71, 71); */
}

/* ================================================ */
/* ================== FOOTER ====================== */
/* ================================================ */
/* .login>footer {
   width: 100%;
   height: 3rem;
   background: red;
} */