:root {
   --primary-color: #C4BBB8;   /* Black */
   --secondary-color: #F5B0CB; /* Black */
   --background-color:#DC6ACF; /* Black */
   --text-color: #745C97;      /* White */
   --accent-color: #39375B;    /* White */
   
   --width-sm: 640px;
   --width-md: 768px;
   --width-lg: 1024px;
   --width-xl: 1280px;
   --width-2xl: 1536px;
}

body {
   background: var(--background-color);
   color: var(--text-color);

   margin: 0;
}

.index .header {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;

   color: black;
   background: var(--secondary-color);
}

/* ======== MENU ITEMS ========== */
.index .menu-items {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
}

/* .index .menu-items a:last-child {
      padding-right: 10rem;
   } */

.index .menu-items a {
   text-decoration: none;
   font-size: large;
   color: black;
}

.index .menu-items a:hover {
   color: var(--accent-color)
}

/* ======== LOGIN BUTTON ========== */
.index .login-btn {
   background: none;
   outline: var(--text-color);
}